.home-page {
    text-align: center;
    background-image: url('../../img/home_page_bg.jpg');
    background-repeat: no-repeat;
    background-size: 150% 150%;
    background-position: right center;
    min-height: 1400px;
}